# Замула Анастасия, ИУ5-22М, 4 вариант (задача1 - 4, задача2 - 24)

In [3]:
import numpy as np
#использую датасет с данными о стоимости Токенов (криптовалюта)
import pandas as pd
df = pd.read_csv('crypto-markets.csv', sep=",")
df.info()
#в выбранном датасете есть 3 пропуска: volume 219997 из 219999, market 219998 из 219999

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219999 entries, 0 to 219998
Data columns (total 13 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   slug         219999 non-null  object
 1   symbol       219999 non-null  object
 2   name         219999 non-null  object
 3   date         219999 non-null  object
 4   ranknow      219999 non-null  int64
 5   open         219999 non-null  float64
 6   high         219999 non-null  float64
 7   low          219999 non-null  float64
 8   close        219999 non-null  float64
 9   volume       219997 non-null  float64
 10  market       219998 non-null  float64
 11  close_ratio  219999 non-null  float64
 12  spread       219999 non-null  float64
dtypes: float64(8), int64(1), object(4)
memory usage: 21.8+ MB

In [4]:
df.head()

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,bitcoin,BTC,Bitcoin,2013-04-28,1,135.30,135.98,132.10,134.21,0.0,1.488567e+09,0.5438,3.88
1,bitcoin,BTC,Bitcoin,2013-04-29,1,134.44,147.49,134.00,144.54,0.0,1.603769e+09,0.7813,13.49
2,bitcoin,BTC,Bitcoin,2013-04-30,1,144.00,146.93,134.05,139.00,0.0,1.542813e+09,0.3843,12.88
3,bitcoin,BTC,Bitcoin,2013-05-01,1,139.00,139.89,107.72,116.99,0.0,1.298955e+09,0.2882,32.17
4,bitcoin,BTC,Bitcoin,2013-05-02,1,116.38,125.60,92.28,105.21,0.0,1.168517e+09,0.3881,33.32

In [5]:
data_features = list(zip(
# признаки
[i for i in df.columns],
zip(
    # типы колонок
    [str(i) for i in df.dtypes],
    # проверим есть ли пропущенные значения
    [i for i in df.isnull().sum()]
)))
#подтвердим наши догадки о пропусках
data_features

[('slug', ('object', 0)),
 ('symbol', ('object', 0)),
 ('name', ('object', 0)),
 ('date', ('object', 0)),
 ('ranknow', ('int64', 0)),
 ('open', ('float64', 0)),
 ('high', ('float64', 0)),
 ('low', ('float64', 0)),
 ('close', ('float64', 0)),
 ('volume', ('float64', 2)),
 ('market', ('float64', 1)),
 ('close_ratio', ('float64', 0)),
 ('spread', ('float64', 0))]

In [6]:
# Используем только некоторые признаки
column_filter = ['name','volume', 'market']
data = df[column_filter]
data.head()

      name  volume        market
0  Bitcoin     0.0  1.488567e+09
1  Bitcoin     0.0  1.603769e+09
2  Bitcoin     0.0  1.542813e+09
3  Bitcoin     0.0  1.298955e+09
4  Bitcoin     0.0  1.168517e+09

In [7]:
# Заполним пропуски
data.dropna(subset=['market'], inplace=True)

/srv/conda/envs/notebook/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
# Отрезаем от название все, кроме первой буквы - Bitcoin -> B
df['name'] = df['name'].astype(str).str[0]

In [9]:
df.tail()

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
219994,latoken,LA,L,2018-06-17,429,0.127850,0.130515,0.124025,0.127290,1378280.0,10315237.0,0.5031,0.01
219995,latoken,LA,L,2018-06-18,429,0.127058,0.134709,0.125138,0.132958,1545980.0,10774557.0,0.8171,0.01
219996,latoken,LA,L,2018-06-19,429,0.133051,0.139196,0.130661,0.137790,1483760.0,11166129.0,0.8353,0.01
219997,latoken,LA,L,2018-06-20,429,0.138047,0.138067,0.130454,0.131987,1088270.0,10695869.0,0.2014,0.01
219998,latoken,LA,L,2018-06-21,429,0.132051,0.134990,0.127985,0.129812,314724.0,10519613.0,0.2608,0.01

In [10]:
def impute_na(data_f, variable, value):
    data_f[variable].fillna(value, inplace=True)
impute_na(df, 'volume', data['volume'].mean())
def impute_na(data_f, variable, value):
    data_f[variable].fillna(value, inplace=True)
impute_na(df, 'market', data['market'].mean())

In [43]:
# Убедимся что нет пустых значений
df.isnull().sum()

slug           0
symbol         0
name           0
date           0
ranknow        0
open           0
high           0
low            0
close          0
volume         0
market         0
close_ratio    0
spread         0
dtype: int64

In [11]:
df.shape

(219999, 13)

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
le = LabelEncoder()
cat_enc_le = le.fit_transform(df['name'])

In [14]:
df['name'].unique()

array(['B', 'X', 'E', 'S', 'L', 'T', 'C', 'M', 'I', 'D', 'N', 'Z', 'V',
       'O', '0', 'Q', 'U', 'P', 'A', 'W', 'F', 'G', 'K', 'H', 'R', 'a',
       'i', 'b', 'J', 'd', 'e', 'Y'], dtype=object)

In [15]:
np.unique(cat_enc_le)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31])

In [16]:
le.inverse_transform([0, 1, 2, 3])

array(['0', 'A', 'B', 'C'], dtype=object)

In [17]:
df.loc[:,('name')] = cat_enc_le

In [52]:
df

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,bitcoin,BTC,2,2013-04-28,1,135.300000,135.980000,132.100000,134.210000,0.0,1.488567e+09,0.5438,3.88
1,bitcoin,BTC,2,2013-04-29,1,134.440000,147.490000,134.000000,144.540000,0.0,1.603769e+09,0.7813,13.49
2,bitcoin,BTC,2,2013-04-30,1,144.000000,146.930000,134.050000,139.000000,0.0,1.542813e+09,0.3843,12.88
3,bitcoin,BTC,2,2013-05-01,1,139.000000,139.890000,107.720000,116.990000,0.0,1.298955e+09,0.2882,32.17
4,bitcoin,BTC,2,2013-05-02,1,116.380000,125.600000,92.280000,105.210000,0.0,1.168517e+09,0.3881,33.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...
219994,latoken,LA,12,2018-06-17,429,0.127850,0.130515,0.124025,0.127290,1378280.0,1.031524e+07,0.5031,0.01
219995,latoken,LA,12,2018-06-18,429,0.127058,0.134709,0.125138,0.132958,1545980.0,1.077456e+07,0.8171,0.01
219996,latoken,LA,12,2018-06-19,429,0.133051,0.139196,0.130661,0.137790,1483760.0,1.116613e+07,0.8353,0.01
219997,latoken,LA,12,2018-06-20,429,0.138047,0.138067,0.130454,0.131987,1088270.0,1.069587e+07,0.2014,0.01
219998,latoken,LA,12,2018-06-21,429,0.132051,0.134990,0.127985,0.129812,314724.0,1.051961e+07,0.2608,0.01

In [18]:
le.inverse_transform(df['name'])

array(['B', 'B', 'B', ..., 'L', 'L', 'L'], dtype=object)

## Проведем обнаружение и удаление выбросов на основе 5% и 95% квантилей для признака market

In [19]:
min = np.percentile(df.volume, 5)
max = np.percentile(df.volume, 95)

In [20]:
df[(df.volume> min) & (df.volume < max)]

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
243,bitcoin,BTC,2,2013-12-27,1,763.280000,777.510000,713.600000,735.070000,46862700.0,8.955395e+09,0.3359,63.91
244,bitcoin,BTC,2,2013-12-28,1,737.980000,747.060000,705.350000,727.830000,32505800.0,8.869919e+09,0.5390,41.71
245,bitcoin,BTC,2,2013-12-29,1,728.050000,748.610000,714.440000,745.050000,19011300.0,9.082104e+09,0.8958,34.17
246,bitcoin,BTC,2,2013-12-30,1,741.350000,766.600000,740.240000,756.130000,20707700.0,9.217168e+09,0.6028,26.36
247,bitcoin,BTC,2,2013-12-31,1,760.320000,760.580000,738.170000,754.010000,20897300.0,9.191325e+09,0.7068,22.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...
219994,latoken,LA,12,2018-06-17,429,0.127850,0.130515,0.124025,0.127290,1378280.0,1.031524e+07,0.5031,0.01
219995,latoken,LA,12,2018-06-18,429,0.127058,0.134709,0.125138,0.132958,1545980.0,1.077456e+07,0.8171,0.01
219996,latoken,LA,12,2018-06-19,429,0.133051,0.139196,0.130661,0.137790,1483760.0,1.116613e+07,0.8353,0.01
219997,latoken,LA,12,2018-06-20,429,0.138047,0.138067,0.130454,0.131987,1088270.0,1.069587e+07,0.2014,0.01
219998,latoken,LA,12,2018-06-21,429,0.132051,0.134990,0.127985,0.129812,314724.0,1.051961e+07,0.2608,0.01